@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */

.flex_container{
  display: flex;
  width: 800px;
  height: 500px;
  margin: 5px auto;
  border: 1px solid #000;
}

.relative_red ,.relative_blue , .relative_green {
  position: relative;
  width : calc(100% / 3);
}

.relative_red{
  background-color: red;
  display: flex;
}

.relative_blue {
  background-color: blue;
  display: flex;
}

.relative_green {
  background-color: green;
}

.box_white {
  position: relative;
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin: 7px;
  border: 1px solid #000;
}

/* 内包の白box */

.red_white {
  top: 200px;
  left:40px;
}

.blue_white {
  top: 0;
  left: 70px;
}

.green_white {
  top: 320px;
}